solutions/ALMLab/Workflows/NewDeviceApprovalRequest-84387942-DC79-EA11-A811-000D3A569FE1.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cr553_deviceorders'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"StartAndWaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","title":"New Device Request For @{triggerBody()?['cr553_devicename']}","assignedTo":"@triggerBody()?['cr553_approver']","details":"A new device has been requested \n@{triggerBody()?['cr553_devicename']} - $@{triggerBody()?['cr553_price']}\n\nDepartment Contribution\n$@{triggerBody()?['cr553_departmentcontribution']}\n\nComments:\n@{triggerBody()?['cr553_comments']}","requestor":"@triggerBody()?['cr553_requestedby']","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('Basic')}/subscriptions","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"cr553_approvalstatus":542540000,"cr553_comments":"@triggerBody()?['cr553_comments']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('cr553_deviceorders'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['cr553_deviceorderid']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_a_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"post","body":{"To":"@body('Update_a_record')?['cr553_requestedby']","Subject":"Your Device Order Has Been Approved","Body":"<p>Your Device has been approved<br>\n<br>\nEstimated Ship Date - @{body('Update_a_record')?['cr553_estimatedshipdate']}<br>\n<br>\nResponse From Approver -<br>\n@{body('Start_and_wait_for_an_approval')?['responseSummary']}</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"expression":{"equals":["@body('Start_and_wait_for_an_approval')?['outcome']","Approve"]},"type":"If"}}}},"schemaVersion":"1.0.0.0"}